<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sparrow.bankvarianceauthority">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_minified"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_minified"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankVarianceAuthority">
        <activity android:name=".HistoryScreen"></activity>
        <activity android:name=".HomeScreen" />
        <activity android:name=".paymentSuccessScreen" />
        <activity android:name=".testActivity" />
        <activity android:name=".confirmPayment" />
        <activity android:name=".paymentScreen" />
        <activity android:name=".recipientUserScreen" />
        <activity android:name=".userDetails" />
        <activity android:name=".MainScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>